$whiteColor: #F2F2F2;

*{
    padding: 0;
    margin: 0;
}

.MainList{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    &--main{
        display: flex;
        justify-content: center;
        &--arrowBack, &--arrowForward{
            transition: all 1s;
            width: 4em;
            height: auto;
            color: $whiteColor;
        }
        // &--arrowBack{
        //     &:active{
        //         .MainList--main--rightContents{
        //             transform: translateX(300px);
        //         }
        //     }
        // }
        &--leftContents, &--rightContents{
            width: 30em;
        }
        &--leftContents, &--rightContents, &--mainContents{
            transition: transform 0.5s ease;
        }
        &--mainContents{
            display: flex;
            width: 30em;
            justify-content: center;
        }
    }
}