$whiteColor: #F2F2F2;
$arrowActiveColor: #424242;

*{
    padding: 0;
    margin: 0;
}

.MainList{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    &--main{
        display: flex;
        justify-content: center;
        &--arrowBack, &--arrowForward{
            transition: all 1s;
            width: 4em;
            height: auto;
            color: $whiteColor;
            cursor: pointer;
        }
        &--arrowBack{
            transition: transform 0.5s;
            &:active{
                transform: translateX(1em);
                color: $arrowActiveColor;
            }
        }
        &--arrowForward{
            transition: transform 0.5s;
            &:active{
                transform: translateX(-1em);
                color: $arrowActiveColor;
                .MainList--main--mainContents{
                    transform: translateX(-5em);
                }
            }
            
        }
        &--leftContents, &--rightContents, &--mainContents{
            display: flex;
            width: 32em;
            justify-content: center;
        }
        // &--mainContents{
        //     transform:scale(1.2);
        // }
    }
}