$cardColor: #FF8855;
$contentColor: #F2F2F2;

*{
    padding: 0;
    margin: 0;
}

.MainCard{
    display: flex;
    width: 60%;
    height: 23em;
    flex-wrap: wrap;
    margin: 50px;
    padding: 10px;
    background-color: $cardColor;
    border-radius: 10px;
    box-shadow: 0 0 10px $cardColor;
    justify-content: center;
    align-items: center;
    &--mealDate{
        
    }

    &--mealBreakfast{

    }

    &--mealLunch{

    }

    &--mealDinner{

    }
}

p{
    color: $contentColor;
}