$cardColor: #FF8855;
$contentColor: #F2F2F2;

*{
    padding: 0;
    margin: 0;
}

.MainCard{
    display: flex;
    width: 60%;
    height: 25em;
    margin: 50px;
    padding: 10px;
    background-color: $cardColor;
    border-radius: 10px;
    box-shadow: 0 0 10px $cardColor;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &--mealBreakfast,
    &--mealLunch,
    &--mealDinner {
        display: inline-block;
        width: 14em;
        height: auto;
        margin: 1em;
        &--time{
            font-size: 1.5em;
        }
    }

    &--mealDate{
        font-size: 1.5em;
    }

    &--mealBreakfast{

    }

    &--mealLunch{

    }

    &--mealDinner{

    }
}

p{
    color: $contentColor;
}