@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean');
$borderColor: #F25E5E;
$whiteColor: #F2F2F2;
$placeHolderColor: #F25E5E7A;

html{
    width: 100vw;
    height: 100vh;
    background: url('../../images/급식\ 배경.png') no-repeat center center fixed;
    background-size: cover;
}

::placeholder{
    color: $placeHolderColor;
}

.mealList{
    padding: 50px 50px 0 50px;
    height: auto;
    min-height: 1080px;
    flex-wrap: wrap;
    position: relative;
    &-SchoolList{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    &--head{
        &--title{
            color: $borderColor;
            font-size: 3em;
            margin-left: 2.8em;
        }
        &--inputElement{
            display: inline-flex;
            align-items: center;
            margin-left: 5em;
            &--searchBox{
                background: none;
                color: $borderColor;
                font-size: 1.6em;
                outline: 0;
                border-radius: 5px;
                border: 8px solid $borderColor;
                padding: 0.3em;
                }
                &--search{
                margin: 1em;
                color: $borderColor;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    &--body{
        margin: 0;
        margin-top: 2em;
        &--month{
            display: flex;
            padding: 1em;
            margin: 1em;
            margin-bottom: 3em;
            justify-content: center;
            align-items: center;
            &--arrowBack, &--arrowForward{
                width: 3em;
                height: auto;
                margin: 20px;
                color: $whiteColor;
                transition: transform 0.5s;
                cursor: pointer;
            }
            &--arrowBack{
                &:active{
                    transform: translateX(1em);
                }
            }
            &--arrowForward{
                &:active{
                    transform: translateX(-1em);
                }
            }
            &>div{
                color: $whiteColor;
                border: 3px solid $whiteColor;
                border-radius: 5px;
                padding: 5px;
                font-size: 2.5em;
            }
        }
    }
}

@media all and (min-width: 468px) and (max-width: 1444px) {
    $borderColor: #FFF5F5;
    $placeHolderColor: #F1E7EC;

    ::placeholder{
        color: $placeHolderColor;
    }

    .mealList{
        &--head{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &--title{
                color: $borderColor;
                margin: 0;
            }
            &--inputElement{
                margin-left: 3.5em;
                &--searchBox{
                    color: $borderColor;
                    border: 8px solid $borderColor;
                }
                &--search{
                    color: $borderColor;
                }
            }
        }
    }
}

.ReactModal__Content{
    &::-webkit-scrollbar{
        width: 5px;
        background-color: #fafafa;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $borderColor;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-button{
        display: none;
    }
}

@media all and (max-height: 876px){
    html{
        overflow-y: scroll;
    }
}