$darkWhiteColor: #ECEAEA;
$backColor: #424242;

.SchoolCard{
    display: flex;
    flex-direction: column;
    width: 400px;
    min-width: 400px;
    height: 100px;
    margin: 20px 30px;
    justify-content: center;
    background-color: $darkWhiteColor;
    border-radius: 3px;
    padding: 5px;
    &--contents{
        width: auto;
        color: $backColor;
        font-size: 20px;
        font-weight: bold;
        margin: 3px 0;
    }
    &:hover{
        box-shadow: 0 0 3px .5px $backColor;
        cursor: pointer;
    }
}