.SchoolCard{
    display: flex;
    width: 96%;
    height: 120;
    margin: 30px;
    justify-content: center;
    align-items: center;
    &--contents{
        color: #424242;
        font-size: 20px;
        font-weight: bold;
    }
}